{% extends 'partials/base.html.twig' %}
{% set collection = page.collection() %}
{% block content %}

<section class="single-page-title">
    <div class="container text-center">
        <h2>{{ page.title }}</h2>
    </div>
</section>

{# <section class="">
    <div class="container">
        <div class="row">
            {{ content }}
        </div>
    </div>
</section> #}
{# <section class="single-page-title">
    <div class="container text-center">
        <h2>{{ page.title }}</h2>
    </div>
</section> #}

<div class="container">
    {# <div class="container text-center">
        <h2>{{ page.title }}</h2>
    </div> #}
{# this part from blog.html.twig #}
    {% embed 'partials/layout.html.twig' with {blog: page} %}
        {% block item %}
            {% for child in collection %}
                {% if "featured" not in child.taxonomy['tag'] %}
                    {% include 'partials/blog-list-item.html.twig' with {blog: page, page: child} %}
                {% endif %}
            {% endfor %}
        {% endblock %}
    {% endembed %}
    </div>
</section>

{% endblock %}
